@model Model.EF.LichCapDau

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LichCapDau</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CapDau.ID_capdau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapDau.ID_capdau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lich.NgayDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lich.NgayDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KetQua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KetQua)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
