@model IEnumerable<Model.EF.News>

@foreach (var i in Model)
{
    <div class="ni-pic set-bg" style="background-image: url(@i.Hinh)">
        <div class="ni-tag">Bóng đá</div>s
            </div>
            <div class="ni-text">
                <h4>
                    @Html.ActionLink(@i.TieuDe, "Details",new {id =@i.IDnews })
                </h4>              
                <ul>
                    <li><i class="fa fa-calendar"></i>@i.dateBegin</li>
                    <li><i class="fa fa-street-view"></i>@i.ViewCount</li>
                </ul>
                <p>
                    It’s that time again when people start thinking about their New Years
                    Resolutions. Usually they involve, losing weight, quitting smoking, and joining
                    a gym, just to mention a few.
                </p>
            </div>
}                           
    



