@model IEnumerable<Model.EF.News>

@foreach (var i in Model)
{
    <div class="news-item">
        <div class="ni-pic">
            <img src="@i.Hinh" alt="">
        </div>
        <div class="ni-text">
            <h5>@Html.ActionLink(@i.TieuDe, "Details", new { id = @i.IDnews })</h5>
            <ul>
                <li><i class="fa fa-calendar"></i> @i.dateBegin</li>
                <li><i class="fa fa-edit"></i> @i.ViewCount</li>
            </ul>
        </div>
    </div>
}

